@import url(./base.css);

.button {
    width: 10rem;
    border: solid;
    background-color: var(--clr-bg);
    color: var(--clr-text);
}

section {
    padding: 0 5vw;
    padding-bottom: 10rem;
}


.text-color-1 {
    color: var(--text-color-1);
}

.text-color-2 {
    color: var(--text-color-2);
}

.text-color-3 {
    color: var(--text-color-3);
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.text-danger {
    color: red;
    font-size: var(--small-font-size);
}

.font-tiny{
    font-size: var(--tiny-font-size) !important;
}
.font-little{
    font-size: var(--little-font-size) !important;
}
.font-small{
    font-size: var(--small-font-size) !important;
}
.font-medium{
    font-size: var(--medium-font-size) !important;
}
.font-large{
    font-size: var(--large-font-size) !important;
}

.flex {
    align-items: center;
}

header {
    margin: 2rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

header h1 {
    width: 100%;
    text-align: center;
}

header button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
}


.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem 0;
}

.input-group label {
    color: var(--text-color-2);
    font-size: var(--little-font-size);
}

.input-group input {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--text-color-2);
    width: 90%;
    height: 2.5rem;
    padding: 0 8px !important;
    color: var(--text-color-2);
}