@import url(./base.css);

.button {
    width: 10rem;
    border: solid;
    background-color: var(--clr-bg);
    color: var(--clr-text);
}

section {
    padding: 0 5vw;
}


.text-color-1 {
    color: var(--text-color-1);
}

.text-color-2 {
    color: var(--text-color-2);
}

.text-color-3 {
    color: var(--text-color-3);
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.flex {
    align-items: center;
}

header {
    margin: 2rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

header h1 {
    width: 100%;
    text-align: center;
}

header button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
}

